@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;600;700&display=swap');

* {
 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inknut Antiqua', serif;

}